.details {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.containerheader {
  width: 55%;
  margin-right: 4rem;
}

.containerDetails .description {
  font-size: 3rem;
  border-bottom: 1.5px solid grey;
  padding-bottom: 2rem;
}

.containerDetails .p {
  font-size: 2rem;
  letter-spacing: 1px;
}

.containerTitle,
.containerImage {
  padding-left: 1.5rem;
}
.containerTitle {
  font-size: 3.5rem;
}

.containerImage {
  width: 100%;
  height: 85%;
}

.containerDetails {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-top: 4rem;
}

@media all and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .containerheader {
    width: 90%;
    margin: 0;
    margin-bottom: 4rem;
  }
  .containerDetails {
    width: 100%;
    padding-left: 0.5rem;
  }
}

/* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
