.home {
    height: 50%;
    background-image: url("https://th.bing.com/th/id/R.9e67f7c0a7d3e355cfe1250a95892cb8?rik=JUqT09OJhKp7Kg&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2ff%2f1%2fb%2f375459.jpg&ehk=mrYhUQdCzYz0oMBpkC28eSvD3pG3lzHHjHr8Oe3xmj8%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 10% top 0%;
    position: relative;
}

.home .details {
    animation: animationOnForum 1.2s ease-out;
    font-weight: bold;
    position: absolute;
    bottom: 15%;
    left: .55%;
}

.home .details .title {
    font-size: 4.5rem;
    color: white;
    margin-bottom: 1.2rem;
    display: block;
}

.home .details .description {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    display: block;
}

@media all and (max-width: 800px) {
    .home {
        background-position: left 45% top 0%;
    }
    .home .details .title{
        font-size: 3rem;
    }
    .home .details .description {
        font-size: 1rem;
    }
}

@keyframes animationOnForum {
    0% {
        opacity: 0;
        transform: translateY(-240px);
    }
    75% {
        opacity: 0.7;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}