@mixin animation($opacityValue, $translateXValue, $translateYValue) {
    opacity: $opacityValue;
    transform: translate($translateXValue, $translateYValue)
}

@mixin image($width, $height) {
    width: $width;
    height: $height;
}

@mixin description($size, $spacing) {
    font-size: $size;
    letter-spacing: $spacing;
}