@import '../../../styles/variables';
.Create {
    height: 100%;
    width: 100%;
    position: relative;
}

.CreateWrapper {
    position: absolute;
    height: 75%;
    width: 60%;
    border-radius: 10px;
    background: $main-color;
    box-shadow: 0px 20px 50px 0px #000000;
    display: block;
    top: 10%;
    left: 20.3%;
}

.FormTitle {
    text-align: center;
    margin-top: 4rem;
    color: $my-color;
    font-size: 2.7rem;
    font-weight: bold;
    padding-left: 6.5rem;
    margin-left: -8rem;
}

.Form {
    height: 100%;
    margin-left: -2rem;
    &__title,
    &__description,
    &__image,
    &__price {
        background: rgba(19, 20, 27, 0.72);
        height: 8%;
        width: 85%;
        color: $my-color;
        padding: .8rem;
        margin-top: 1rem;
        margin-left: 5rem;
        font-size: 1.6rem;
        border: none;
        border-radius: 1.5rem;
    }
    &:last-child {
        margin-bottom: 10rem;
    }
    &__description {
        height: 16%;
    }
    &__btn {
        padding: 1.7rem;
        font-size: 1.3rem;
        margin-left: 5rem;
        margin-top: 3rem;
        text-align: center;
        font-weight: bold;
        transition: background 0.4s ease;
        background: #67c5e7;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
        &:hover {
            background: #2196F3;
        }
    }
}

@media all and (max-width: 850px) {
    .Create {
        height: 100%;
        width: 100%;
    }
    .CreateWrapper {
        left: 5%;
        height: 75%;
        width: 90%;
    }
    .FormTitle {
        text-align: left;
        margin-left: -4rem;
        font-size: 2rem;
    }
    .Form {
        height: 100%;
        margin-left: -4rem;
        &__title,
        &__description,
        &__image,
        &__price {
            height: 8%;
            width: 80%;
            font-size: 1.2rem;
            margin-left: 5.5rem;
        }
        &__description {
            height: 12%;
        }
        &__btn {
            padding: 1.6rem;
            font-size: 1rem;
            text-align: center;
            margin-left: 5.5rem;
            width: auto;
            height: auto;
        }
    }
}


/* @media all and (min-width: 1550px) and (max-width: 2800px) {
    .Create {
        height: 80%;
        overflow-y: hidden;
    }
} */