.header {
    max-height: 25rem;
    margin-bottom: .5rem;
    background: rgb(46, 43, 43);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    padding: 0;
}