@import '../../styles/mixin';
@import '../../styles/variables';
.Item {
    margin: 5rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    border: 1px solid lightgray;
    width: 90%;
    height: 35rem;
    position: relative;
    background: $my-color;
    img {
        @include image(350px, 100%);
        margin-right: 3rem;
        background-size: cover;
    }
}

.Details {
    &__title {
        font-weight: bold;
        font-size: 3rem;
        padding-top: 1rem;
    }
    &__description {
        @include description(1.5rem, 0.5px);
        margin: 1.5rem auto;
    }
    &__price {
        position: absolute;
        font-size: 2.5rem;
        font-weight: bold;
        bottom: 1.7rem;
    }
}

.Actions {
    display: flex;
    justify-content: flex-end;
    &__quantity {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 10rem;
        position: absolute;
        left: 78%;
        bottom: 7%;
        &__manipulate {
            border: none;
            font-size: 2.5rem;
            margin-top: 10rem;
            cursor: pointer;
        }
        label {
            width: 4rem;
            height: 2.4rem;
            border-radius: 1rem;
            text-align: center;
            font-size: $main-font;
            margin-top: 10rem;
            margin-left: 0;
        }
    }
    &__btn {
        position: absolute;
        bottom: 6%;
        left: 94%;
        padding: 5px 20px;
        cursor: pointer;
        font-size: 1.5rem;
        display: inline-block;
    }
}

@media all and (max-width: 820px) {
    .Item {
        flex-direction: column;
        height: 60rem;
        width: 100%;
        margin: 0;
        margin-bottom: 5rem;
        img {
            @include image(100%, 45%);
        }
    }
    .Details {
        &__title {
            font-size: 2rem;
            padding-left: 1rem;
        }
        &__description {
            @include description(1.2rem, 0);
            padding-left: 1rem;
        }
        &__price {
            font-size: $main-font;
            padding-left: 1.4rem;
            margin-bottom: 0.5rem;
        }
    }
    .Actions {
        &__quantity {
            position: absolute;
            left: -5%;
            bottom: 3.5%;
            &__manipulate {
                font-size: $main-font;
            }
            label {
                font-size: 1.6rem;
            }
        }
        &__btn {
            padding: 0.3rem 1.8rem;
            position: absolute;
            bottom: 2.5%;
            left: 82%;
        }
    }
}