.item {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  margin: 2rem;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  padding: 2rem;
  height: 30%;
  justify-content: space-between;
}

.cartimg {
  height: 100%;
  width: 25%;
}

.carttitle {
  font-size: 3rem;
  font-weight: 500;
}

.cartprice {
  font-size: 3.5rem;
  font-weight: bold;
}
.action {
  border: 3px solid black;
  border-radius: 100px;
  padding: 0.5rem;
}

.actions span {
  font-size: 4.5rem;
  margin: 0 1.5rem;
}

@media all and (max-width: 800px) {
  .item {
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
  }
  .cartimg {
    width: 75%;
    height: 55%;
  }
  .carttitle {
    font-size: 2rem;
  }
  .cartprice {
    font-size: 2.5rem;
  }
  .carticon {
    height: 25px;
    margin-bottom: 1rem;
  }
}
