@import '../../../styles/variables';
.Checkout {
    text-align: center;
    margin: 15rem auto;
    h1 {
        font-size: 6rem;
        padding: 2rem
    }
    h2 {
        font-size: 3rem;
        margin-bottom: 10rem;
    }
    a {
        background: $main-color;
        text-transform: capitalize;
        height: 4rem;
        text-decoration: none;
        padding: 2rem 1rem;
        color: $my-color;
        border-radius: 100px;
        font-size: $main-font;
        &:hover {
            transform: rotateZ(20deg);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
    }
}