@import '../../../styles/variables';
@import '../../../styles/mixin';
.Nav {
    display: flex;
    align-items: center;
}

.Nav__list {
    list-style: none;
    margin: 0;
    li {
        margin-right: 2rem;
        color: $my-color;
        font-size: 1.6rem;
        display: inline-block;
        a {
            text-decoration: none;
            color: $my-color;
            font-size: $main-font;
            text-transform: uppercase;
            &:hover {
                color: #80ced6;
            }
        }
    }
}

@media all and (max-width: 920px) {
    .Nav {
        position: relative;
        z-index: 2;
    }
    .Nav__list {
        background-color: $main-color;
        padding: 1.6rem;
        display: flex;
        position: absolute;
        top: 100%;
        right: -20%;
        flex-direction: column;
        justify-content: space-between;
        &--active {
            animation-name: showNavLinks;
            animation-duration: 1.5s;
            animation-fill-mode: backwards;
        }
        &--unactive {
            opacity: 0;
        }
        li {
            margin-bottom: 1.8rem;
            color: $my-color;
            a {
                font-size: 1.5rem;
            }
        }
    }
}

@keyframes showNavLinks {
    0% {
        @include animation(0, 50px, 0);
    }
    100% {
        @include animation(1, 0, 0);
    }
}