.logo {
    height: 10rem;
}

.logo a {
    text-decoration: none;
}

.logo .title {
    height: 100%;
    width: 100%;
    font-size: 4rem;
    text-decoration: none;
    color: white;
    margin-top: .8rem;
    padding: 1.5rem;
}

